{% extends "basic.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2 id="form_head">What kinds of credible edibles are you looking for?</h2><br>
      
      <form action="/results/" method="POST">
	<div class="row">
	  <div class="col-lg-8">
	    <p>Where are you, or where do you want to go?</p>
	  </div>
	</div>
	<div class="row">
	  <div class="col-lg-8">
	    <label class="radio-inline">
	      <input type="radio" name="cur_or_addr" value='yes' >Use my current location
	    </label>
	    <div class="input-group">
	      <span class="input-group-addon">
		<input type="radio" aria-label="..." name="cur_or_addr">
	      </span>
	      <input type="text" class="form-control" placeholder="Enter an address" aria-label="..." name="address">
	    </div><!--input group-->
	  </div><!--col-->
	</div><!--row-->
	<div class="row">
	  <div class="col-lg-8">
	    <br><p>How far do you want to go from there?</p>
	  </div>
	</div>	
	<div class="row">
	  <div class="col-lg-8">
	    <label class="radio-inline">
	      <input type="radio" name="dist" value='birdseye'>Bird's Eye
	    </label>
	    <label class="radio-inline">
	      <input type="radio" name="dist" value='fourblocks'>Four blocks
	    </label>
	    <label class="radio-inline">
	      <input type="radio" name="dist" value='walking'>Walking
	    </label>
	    <label class="radio-inline">
	      <input type="radio" name="dist" value='driving'>Driving
	    </label>
	  </div>
	</div>
	<div class="row">
	  <div class="col-lg-8">
	    <br><p>How much qual do you want?</p>
	  </div>
	</div>	
	<div class="row">
	  <div class="col-lg-8">
	    <label class="radio-inline">
	      <input type="radio" name="qual" value='onestar'>Grimy
	    </label>
	    <label class="radio-inline">
	      <input type="radio" name="qual" value='twostar'>Edible
	    </label>
	    <label class="radio-inline">
	      <input type="radio" name="qual" value='threestar'>Meh
	    </label>
	    <label class="radio-inline">
	      <input type="radio" name="qual" value='fourstar'>Credible
	    </label>
	    <label class="radio-inline">
	      <input type="radio" name="qual" value='fivestar'>Incredible
	    </label>
	  </div>
	</div>
	<div class="row">
	  <div class="col-lg-8">
	    <br>
	    <button type="submit" class="btn btn-default">Find credible edibles!</button>
	  </div>
	</div>
      </form>
    </div>
  </div>
</div>

{% endblock %}